__pycache__/
.env
.venv
.vscode/

env/
venv/
PROJECT_PROMPT.md
PROJECT_PROMPT_FA.md

.aider*

# Ignore everything in migrations folders
**/migrations/*
# But do not ignore __init__.py in those folders
!**/migrations/__init__.py

sqlite3

dump.json
custom_tools/custom_settings.py
.docs
db/
staticfiles/
*_prompt.txt
template_prompt.txt
