{% load i18n %}
<!DOCTYPE html>

<html>
<head>
<title>{% trans "Please Confirm Your E-mail Address" %}</title>
</head>
<body>
<h1>{% trans "Please Confirm Your E-mail Address" %}</h1>
<p>{% blocktrans with user_display=user.get_username %}Hello {{ user_display }}!{% endblocktrans %}</p>
<p>{% blocktrans %}You're receiving this e-mail because you have registered an account on our site.{% endblocktrans %}</p>
<p>{% blocktrans %}Please go to the following page to confirm your e-mail address and activate your account:{% endblocktrans %}</p>
<p><a href="{{ activate_url }}">{{ activate_url }}</a></p>
<p>{% trans "Thanks for using our site!" %}</p>
</body>
</html>
